<div class="container">
    <div class="fundo">
        <div class="bk-mensagem">
            <div class="dv-body">
                <div class="dv-text-01">
                    <p class="titulo-2">Desenvolvedor Web ?</p>
                </div>
                <div class="dv-text-01">
                    <p class="titulo-3">
                        É um tipo de profissional que trabalha desenvolvendo/criando sites, sistemas e jogos que rodam diretamente no seu navegador.
                    </p>
                </div>
                <div class="dv-button-body">
                    <div class="dv-button">
                        <button class="style-button">Saber mais</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="bk-photo">
            <div class="dv-body-02">
                <div class="dv-img-01">
                    <img class="icon" src="../assets/img/develop.png" />
                </div>
            </div>
        </div>
    </div>
</div>